.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
go.sum
air.toml

bin/
tmp/

.idea/
.vscode/
*.swp
*.swo
*~

.env
.env.local
.env.*.local


*.log
logs/


*.com
*.class
*.dll
*.exe
*.o
*.so
